
/****************************************************************
*****\  =FADE-OUT AND REMOVE ELEMENT AFTER DELAY (ON SLIDE SHOW) \*******************************************************
***************************************************************************************/
@keyframes fadeOut { 
  0% {
    opacity: 1;
    visibility: visible;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    height: 0; 
    margin: 0;
    padding: 0;
  }
}

.fade-out-1s {
    transition: opacity 0.5s, visibility 0.5s, padding 0.1s ease-out 1s, margin 0.1s ease-out 1s, max-height 0.2s ease-out 1s;
    max-height: 100px;
    padding-bottom: 3px !important;
}

.present .fade-out-1s {
 /* animation: fadeOut 1s linear;
  animation-fill-mode:both;*/
    opacity: 0;
    visibility: hidden;
    /*height: 0;*/
    margin: 0;
    padding: 0;
    max-height: 0;
}


/****************************************************************
*****\  =FADE-IN LIST ITEMS (ON SLIDE SHOW OR FRAGMENT) \*******************************************************
***************************************************************************************/

@keyframes fadeIn { 
  0% {
    opacity: 0;
    /* transform: scale(.1); */
  }
  100% {
    opacity: 1;
    /* transform: scale(1); */
  }
}

.present .fade-in-list:not(.fragment) .fade-in-list--item {
  animation: fadeIn 1s linear;
  animation-fill-mode:both;
}

.present .fade-in-list.current-fragment .fade-in-list--item {
  animation: fadeIn 1s linear;
  animation-fill-mode:both;
}

.fade-in-list:not(.fragment) .fade-in-list--item:nth-child(1){ animation-delay: .5s }
.fade-in-list:not(.fragment) .fade-in-list--item:nth-child(2){ animation-delay: 1s }
.fade-in-list:not(.fragment) .fade-in-list--item:nth-child(3){ animation-delay: 1.5s }
.fade-in-list:not(.fragment) .fade-in-list--item:nth-child(4){ animation-delay: 2s }
.fade-in-list:not(.fragment) .fade-in-list--item:nth-child(5){ animation-delay: 2.5s }

.fade-in-list.fragment{
  max-height: 0;
  height: 0;
}

.fade-in-list.curret-fragment{
  max-height: 900px;
  height: initial;
}

.fade-in-list--item{
  padding-bottom: 3px !important;
}

.fade-in-list.fragment .fade-in-list--item:nth-child(1){ animation-delay: .5s }
.fade-in-list.fragment .fade-in-list--item:nth-child(2){ animation-delay: 1s }
.fade-in-list.fragment .fade-in-list--item:nth-child(3){ animation-delay: 1.5s }
.fade-in-list.fragment .fade-in-list--item:nth-child(4){ animation-delay: 2s }
.fade-in-list.fragment .fade-in-list--item:nth-child(5){ animation-delay: 2.5s }

/****************************************************************
*****\  =UNDERLINE ELEMENT (ON SLIDE SHOW) \*******************************************************
***************************************************************************************/

.underline-animated
{
    /*display: inline-block;*/
    padding-bottom: 3px !important;
    position: relative;
}

.underline-animated:after 
{
    content: '';
    display: block;
    margin: auto;
    width: 0px;
    background: transparent;
    height: 0px;
    transition: width 1s ease, background-color 1s ease, height 0.5s ease;
}

.present .underline-animated:after 
{
    width: 100%;
    background: red;
    height: 4px;
}


/****************************************************************
*****\  =MISC \*******************************************************
***************************************************************************************/

.highlight-first-letter::first-letter {
  color: orangered;
  font-weight: bold;
  font-family: monospace;
}

.no-bullets {
  list-style-type:none !important;
} 